.mobileContainer {
  margin: 2rem;
  text-align: center;
  font-family: 'Helvetica';
}

.mobileLogo {
  width: 100%;
}

.mobileTitle {
  font-size: 1.65rem;
  color: #3d5a80;
  margin-top: 10%;
}

.mobileImage {
  width: 100%;
  padding: 0;
  margin: -1rem 0 -1rem 0;
}

.mobileSubtitle {
  font-size: 1.65rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 0rem;
}

.mobileDivision {
  border: 0.1rem solid #3d5a80;
  background-color: #3d5a80;
  margin-left: 10%;
  margin-right: 10%;
}

.mobileText {
  color: #717786;
  line-height: 1.3rem;
}

.mobileLoginButton {
  width: 90%;
  padding: 0.8rem;
  margin-top: 3%;
  background-color: #ee6c4d;
  color: white;
  border-radius: 3rem;
  border: none;
  box-shadow: 0rem 0.25rem 0.5rem rgba(238, 108, 77, 0.5);
}

.mobileLoginButtonIcon {
  font-size: 0.85rem;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.mobileLoginButtonText {
  font-weight: bold;
  font-size: 0.85rem;
}

.mobileContact {
  margin-top: 2.5rem;
  font-size: 0.9rem;
  color: gray;
}

.mobileUser {
  font-weight: bolder;
  color: #08a0e9;
}